<form class="{{cssClass}}" autocomplete="off">
    <div class="mainbar"> 
        <h1>
            <div data-edit="data.title" contenteditable>
                {{data.title}}
            </div>
        </h1>
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128"/>      
    </div>

<table>
    <tr>
        <td> 
            {{> "systems/CP2075/templates/partials/character-mAttr-block.hbs"}}
        </td>
        <td> 
            {{> "systems/CP2075/templates/partials/character-sAttr-block.hbs"}}  
        </td>     
    </tr>
</table>                
</form>